* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.mt-2 {
  width: 50%;
  height: 8vh;
  text-align: left;
  font-size: 30;
  font-weight: 300;
}
button {
  background-color: antiquewhite;
  border-radius: 10px;
}

.form-control {
  width: 50%;
}
